<div class="flex-container">
{% for member in module.members %}
  <div class="card-container">
    <div class="card">
      <div class="img-container">
        {% if member.headshot.src %}
           {% set loadingAttr = member.headshot.loading != 'disabled' ? 'loading="{{ member.headshot.loading }}"' : '' %}
          <img src="{{ resize_image_url(member.headshot.src, 250) }}" width="{{ member.headshot.width }}" alt="{{ member.headshot.alt }}" {{ loadingAttr }} >
        {% endif %}
      </div>
      <h3>
        {% inline_text field="member_name" value="{{ member.member_name }}" %}
      </h3>
      <p>
        {% inline_text field="role" value="{{ member.role }}" %}
      </p>
    </div>
  </div>
{% endfor %}
</div>

{% require_css %}
  <style>
    {% scope_css %}
      img {
        {{module.style.border.css}};
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}