header {
  background-color: {{ theme.header_and_footer.background_color.color }};
  font-family: {{ theme.header_and_footer.font.font }};
  padding: 20px;
}

.go-to-content {
  background-color: white;
  position: fixed;
  top: -30px;
  transition: top 0.25s;
  padding: 5px;
}

.go-to-content:focus {
  top: 0px;
}