*,
:after,
:before {
  margin: 0;
}

{% include './_layout.hubl.css' %}
{% include './_containers-dnd.hubl.css' %}

header, footer {
  background-color: {{ theme.header_and_footer.background_color.color }};
  font-family: {{ theme.header_and_footer.font.font }};
}