*,
:after,
:before {
  margin: 0;
}

{% include './_layout.hubl.css' %}
{% include './_containers-dnd.hubl.css' %}
{% include './_footer.hubl.css'%}
{% include './_header.hubl.css'%}

.body-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: {{ theme.global_colors.secondary_color.rgba }};
}

.dnd-module {
  padding: 20px;
}