<!--
  templateType: page
  isAvailableForNewContent: true
  label: About
  screenshotPath: ../images/template-previews/about.png
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}
  {% dnd_area "dnd_area"
    label="Main area",
    class="body-container body-container--about"
  %}
    {% include_dnd_partial
      path="../sections/image_and_text.hubl.html"
      context={
        'context-width': 1200
      }
    %}
    {% include_dnd_partial 
      path="../sections/our_team.hubl.html" 
      context={
        'content_width': 1200,
      }
    %}
  {% end_dnd_area %}
{% endblock body %}